/**
 * @file
 * Defines the site content layout and structure.
 */

.site-content {
  padding: 1em;
}

.site-content__action-links {
  padding: 0;
  margin: 0 0 1em 0;

  list-style: none;

  font-size: .8em;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;

    a {
      @include action-add-element;
      @include secondary-action-element;
    }
  }
}

.site-content__breadcrumbs {
  font-size: .8em;
}
