/**
 * @file
 * Defines form styles.
 */

.form-submit, input[type="submit"], input[type="button"], button {
  @include action-element;
}

input[type="submit"] + input[type="submit"],
input[type="submit"] + input[type="button"],
input[type="submit"] + button,
input[type="submit"] + a,
input[type="button"] + input[type="button"],
input[type="button"] + input[type="submit"],
input[type="button"] + button,
input[type="button"] + a,
button + input[type="submit"],
button + input[type="button"],
button + button,
button + a {
  margin-left: .5em;
}

#edit-delete,
#node-delete-confirm #edit-submit {
  @include danger-element;
}

label {
  margin-bottom: .5em;
}

.form-item .description {
  font-style: italic;
  color: $dark-gray;
}

input[type="text"], input[type="password"], input[type="email"] {
  @include text-input;
}

textarea {
  @include text-input;

  background-color: #eee;
}







/*
fieldset {

  input[type="text"], input[type="password"], textarea, select {
    border-color: darken($medium-gray, 10%);
  }
}

html.js fieldset.collapsed {
  height: auto;
}

form .field-multiple-table th.field-label {
  padding-left: 1em;
}

// In editor context.
body.cke_show_borders {
  background: $light-gray;
  padding: 1em;
}

.cke_skin_kama {
  border: 0;
}

.fieldset-wrapper {
  padding: 1em;

  > .form-item:first-child {
    margin-top: 0;
  }
}

fieldset.collapsible {

  legend {

    a {
      text-decoration: none;
    }
  }
}

html.js fieldset.collapsible .fieldset-legend {
  background: url(../img/fieldset-collapsible-icon.png) left bottom no-repeat;
  padding-left: 1.3em;
}

html.js fieldset.collapsed .fieldset-legend {
  background-position: left top;
}

.vertical-tabs-pane {
  background: white;
}

.filter-wrapper {

  .form-type-select {
    margin-top: 0;
  }

  .filter-guidelines {
    display: none;
  }
}

#opigno-quiz-app-filter-by-status-form {
  overflow: hidden;

  .form-item {
    float: left;
    margin-right: 1em;
  }

  .form-submit {
    float: left;
    margin-top: 3.1em;
  }
}

.draggable {

  input {
    padding: 2px !important;
  }
}

#platon-css-editor {
  min-height: 400px;
}

.color-form {
  max-width: none;

  #palette {
    clear: both;

    .form-item {
      min-height: 130px;
      float: left;
      width: 250px;

      .lock, .hook {
        display: none;
      }
    }

    .description {
      clear: both;
    }
  }
}
*/