/**
 * @file
 * Overrides the default HTML styles. For table styles, look at the partials/base/tables partial.
 */

body {
  color: $black;
}

a {
  color: $green;
  text-decoration: none;

  // Only apply hover styles for non-touch screens.
  // @todo
  /*body.no-touch*/ &:hover {
    color: lighten($green, 5%);
    text-decoration: underline;
  }
}

h1 {
  margin-top: 0;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 1.6em;
  }
}

table {
  width: 100%;
}

td, th {
  padding: .5em;
}
