/**
 * @file
 * Defines the typography rules, like size, weight and font family.
 */

//@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900&subset=latin,latin-ext);

body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-weight: 400;
}

h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

.ultra-bold {
  font-weight: 900;
}
