/**
 * @file
 * Defines form styles for H5P Content nodes.
 */

.page-node-add-h5p-content .page-title,
.page-node-edit.node-type-h5p-content .page-title {
  display: none;
}

.node-form--h5p-content {

  .node-form__title {
    @include hide-label;

    .form-item {
      margin-top: 0;
    }

    .form-text {
      padding: 1em .5em;
      margin: 0 auto;
      font-size: 1.2em;
    }
  }
}

.node-form__hidden,
.h5p-editor-iframe .h5p-more-libraries {
  display: none;
}
